h1{
    color: rgb(255, 0, 170);
    padding-left: 60px;
}
 /* *{
    border: solid;
}*/
.header{
    display: flex;
    background-color: rgb(57, 0, 133);
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
body{
    background-color: rgb(69, 69, 69)
}
a:link{
    color: white;
}
a:visited{
    color: rgb(255, 0, 170);
}
.menu{
    margin-right: 60px;
}
.menu a{
    margin-left: 30px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.3;
}
p{
    font-weight: bold;
    font-family:cursive;
}